{% sw_extends '@Storefront/storefront/page/product-detail/buy-widget-price.html.twig' %}

{% block page_product_detail_price_block %}
    <div class="product-block-prices">
        {% block page_product_detail_price_block_table %}
            <table class="table table-sm table-bordered product-block-prices-table">
                {% block page_product_detail_price_block_table_head %}
                    {{ parent() }}
                {% endblock %}

                {% block page_product_detail_price_block_table_body %}
                    <tbody class="product-block-prices-body">
                        {% block page_product_detail_price_block_table_body_inner %}
                            {% for price in page.product.calculatedPrices %}
                                {% block page_product_detail_price_block_table_body_row %}
                                    <tr class="product-block-prices-row"
                                        itemprop="offers" itemscope
                                        itemtype="https://schema.org/Offer">

                                        {% block page_product_detail_price_block_table_body_cell_quantity %}
                                            <th scope="row" class="product-block-prices-cell">
                                                <meta itemprop="priceCurrency" content="{{ page.header.activeCurrency.id }}" />
                                                <meta itemprop="price" content="{{ price.unitPrice }}" />
                                                <link itemprop="availability" href="https://schema.org/InStock" />
                                                {% if loop.last %}
                                                    {{ "detail.priceDataInfoFrom"|trans|sw_sanitize }}
                                                    <span class="product-block-prices-quantity">{{ price.quantity }}</span>
                                                {% else %}
                                                    {% if page.product.customFields.migration_mcgreenmig_product_abbis %}
                                                        {{ "detail.priceDataInfoUntil"|trans|sw_sanitize }}
                                                        <span class="product-block-prices-quantity">{{ price.quantity }}</span>
                                                    {% else %}
                                                        {{ "detail.priceDataInfoFrom"|trans|sw_sanitize }}
                                                        <span class="product-block-prices-quantity">
                                                            {# MCW Überprüfen ob übernommene Menge vorhanden - wenn ja anzeigen, ansonsten Mindestmenge verwenden #}
                                                            {% if oldquantity %}
                                                                {{ oldquantity }}
                                                            {% else %}
                                                                {{ page.product.minPurchase }}
                                                            {% endif %}
                                                        </span>
                                                    {% endif %}
                                                {% endif %}
                                                {% if page.product.purchaseUnit > 1 %}
                                                    (= {% if oldquantity %}
                                                        {{ oldquantity * page.product.purchaseUnit }}
                                                    {% else %}
                                                        {{ page.product.minPurchase * page.product.purchaseUnit }}
                                                    {% endif %} {{ price.referencePrice.unitName }})
                                                {% endif %}
                                            </th>
                                        {% endblock %}

                                        {% block page_product_detail_price_block_table_body_cell_price %}
                                            {{ parent() }}
                                        {% endblock %}

                                        {% block page_product_detail_price_block_table_body_cell_reference_price %}
                                            {{ parent() }}
                                        {% endblock %}
                                    </tr>
                                {% endblock %}
                                {# MCW - wir übernehmen die alte min-menge in die nächste Schleife und addieren +1 #}
                                {% set oldquantity = price.quantity+1 %}
                            {% endfor %}
                        {% endblock %}
                    </tbody>
                {% endblock %}
            </table>
        {% endblock %}
    </div>
{% endblock %}


{% block page_product_detail_price_unit_content %}
    {{ parent() }}
    {# Mindesmente mit als Text anzeigen #}
    {% if page.product.minPurchase > 1 %}
        <br>
        <span class="price-unit-label">
            {{ "detail.minPurchase"|trans|sw_sanitize }}
        </span>
        <span class="price-unit-content">
            {{ page.product.minPurchase }} {{ page.product.unit.name }}
        </span>
        <br>
    {% endif %}
{% endblock %}
